
    <div class="h1">
    This is the home page
    <%= link_to "Log in", user_session_path %>
    <%= link_to "Log out", destroy_user_session_path, :method => :delete  %>
    </div>
    
   
    <body>
    <div class="row no-padding">
      <div class="col s12 m12" style="overflow:hidden">
      <%= image_tag ("home.jpg"), class:"img_preview" %>
      </div>
	  
</body>