@import 'materialize-css/dist/css/materialize';

nav ul a {
    font-size: 22px;
   
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
  .page-footer {
      background-color:#504F4F;
  }

  .login-card{
    margin-top: 100px;
  }
  textarea{
    height: 10rem;

  }