
<%= link_to 'Back', expenses_path, class: "btn waves-effect waves-light" %>
<div class="right">
    <%= link_to new_expense_item_path, class: "btn waves-effect waves-light", :method => :get do %>
        Add Item
    <% end %>
</div>

<h1>New Expense</h1>
<%= render 'form', expense: @expense %>


