<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Zassa Neer</h5>
                <p class="grey-text text-lighten-4">Tracking the house rent management information</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Information</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">about</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact information</a></li>
                  <% if user_signed_in? and current_user.email.eql? 'sarker24@gmail.com'  %>
                      
                      <li><%= link_to  new_user_path, :method => :get do %>
                        <i class="small material-icons blue-text left">account_circle</i> Sign up
                
                        <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright masitbd.com
         </div>
          </div>
        </footer>