<nav>
    <div class="container">
    <div class="nav-wrapper">
            <a href="#" class="brand-logo right">Zassa Neer</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="sass.html"><i class="large material-icons left">home</i>Income Information</a></li>
                <li><a href="sass.html"><i class="large material-icons left">work</i>Expence Information</a></li>
                <li><a href="sass.html"><i class="large material-icons left">account_balance</i>Bank Information</a></li>
            </ul>
        </div>
    </div>
</nav>